name: Deploy to NCP

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Build Docker Compose
        run: |
          # Build Docker Compose
          docker-compose build

      - name: List directory contents
        run: ls

      - name: Transfer Docker Compose to NCP server
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.NCP_SERVER_IP }}
          username: ${{ secrets.NCP_SERVER_USERNAME }}
          password: ${{ secrets.NCP_SERVER_PASSWORD }}
          port: ${{ secrets.NCP_SERVER_PORT }}
          source: docker-compose.yml
          target: /path/to/docker-compose.yml

      - name: SSH into NCP instance
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.NCP_SERVER_IP }}
          username: ${{ secrets.NCP_SERVER_USERNAME }}
          password: ${{ secrets.NCP_SERVER_PASSWORD }}
          port: ${{ secrets.NCP_SERVER_PORT }}
          script: |
            # Change directory to where Docker Compose is located
            cd /path/to

            # Start containers using the transferred Docker Compose file
            docker-compose up -d
