name: Deploy to NCP

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

    steps:
      - name: SSH into NCP instance
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.NCP_SERVER_IP }}
          username: ${{ secrets.NCP_SERVER_USERNAME }}
          password: ${{ secrets.NCP_SERVER_PASSWORD }}
          port: ${{ secrets.NCP_SERVER_PORT }}

          # Add any additional SSH configuration here if needed

          script: |
            # Stop and remove existing containers (if running)
            docker-compose down

            # Pull the latest code changes
            git pull origin main

            # Build and start the services defined in Docker Compose file
            docker-compose up -d
